<header class="header">
    <img class="header__image" src="./assets/images/pokeball.png" alt="Pokeball logo">
    <h1 class="header__title">Generation 1 Pokédex</h1>

    <form id="myForm" class="header__form js-form" method="GET">
        <label class="header__form--label">Search</label>
        <div class="header__form--container">
            <input class="header__form--input js-input" type="text" placeholder="Pokemon name" required>
            <i class="fas fa-times header__form--reset js-reset" title="Reset"></i>
            <i class="fas fa-search header__form--search js-searchButton" title="Search"></i>
        </div>
    </form>
</header>