<main class="main">
    <p class="js-notFound js-hidden">Pokemon not found. Make a new search.</p>
    <ul class="resultsList js-results js-reset js-hidden">
        <li class="resultsList__item js-pokeId" id="">
            <h3 class="resultsList__item--name js-pokeName"></h3>
            <img class="resultsList__item--image js-pokeImage" src="" alt="">
        </li>
    </ul>
    <button class="btn-danger js-detail js-hidden">Go to detail</button>
    <section class="pokemonsDetail js-pokemonsDetail js-hidden">
        <div class="pokemonsDetail__backImage js-backgroundImage">
            <img class="pokemonsDetail__backImage--image js-pokeImageDetail" src="" alt="">
        </div>
        <button type='button' class="pokemonsDetail__buttonBack far fa-window-close js-backHome"></button>
        <div class="pokemonsDetail__type">
            <h5 >Type:</h5>
            <h6 class="pokemonsDetail__type js-pokeType"></h6>
        </div>
        <div class="pokemonsDetail__size">
            <div class="pokemonsDetail__size--height">
                <h6>Height</h6>
                <h6 class="js-pokeTypeHeight"></h6>
            </div>
            <div class="pokemonsDetail__size--weight">
                <h6>Weight</h6>
                <h6 class="js-pokeTypeWeight"></h6>
            </div>
        </div>
    </section>
</main>
